{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<div id="shop-index">

<div class="categories">
    <ul class="categories-list">
        {% for category in categories %}
        <li>
            <a href="{% url 'shop:index_category' category.slug %}">{{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="products">
    {% for product in products %}
    <div class="product-item">
        <div class="product-item__name">
            <a href="{% url 'shop:product_detail' slug=product.slug %}">{{ product.name }}</a>
        </div>
        <div class="product-item__price">{{ product.price }}</div>
        <div class="product-item__image">
            {% if product.image %}
                <img src="{{ product.image.url }}" width="200" height="auto">
            {% else %}
                <img src="{% static 'img/no_image.jpg' %}" width="200" height="auto">
            {% endif %}
        </div>
        <div>
        <form action="{% url 'shop:product_detail' slug=product.slug %}" method="get">
            <button type="submit">ПОДРОБНЕЕ</button>
        </form>
        </div>
        <div>
        <form action="#" method="get">
            <button type="submit">В КОРЗИНУ</button>
        </form>
        </div>
        <div>
        <form action="#" method="get">
            <button class="img-button" type="submit"><img class="to-selected-icon" src="{% static 'img/heart.png' %}"></button>
        </form>
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

</div>

{% endblock content %}